{{- define "errorHandler" }}
{{- if .Definition.HasErrorHandler }}
if err := s.errorHandler({{ .Ctx }}, {{ .Definition.ServiceName }}_DependentMethod_{{ .Definition.DependentMethodName }}, err); err != nil {
	grpcfed.RecordErrorToSpan({{ .Ctx }}, err)
	return nil, err
}
{{- else }}
grpcfed.RecordErrorToSpan({{ .Ctx }}, err)
return nil, err
{{- end }}
{{- end }}
