{{- define "retry" }}
{{- if .Retry.Constant }}
b := grpcfed.NewConstantBackOff({{ .Retry.Constant.Interval.Nanoseconds }}) /* {{ .Retry.Constant.Interval }} */
{{- else }}
b := grpcfed.NewExponentialBackOff(&grpcfed.ExponentialBackOffConfig{
	InitialInterval: {{ .Retry.Exponential.InitialInterval.Nanoseconds }}, /* {{ .Retry.Exponential.InitialInterval }} */
	RandomizationFactor: {{ .Retry.Exponential.RandomizationFactor }},
	Multiplier: {{ .Retry.Exponential.Multiplier }},
	MaxInterval: {{ .Retry.Exponential.MaxInterval.Nanoseconds }}, /* {{ .Retry.Exponential.MaxInterval }} */
	MaxElapsedTime: {{ .Retry.Exponential.MaxElapsedTime.Nanoseconds }}, /* {{ .Retry.Exponential.MaxElapsedTime }} */
})
{{- end }}
{{- if .Retry.MaxRetries }}
b = grpcfed.BackOffWithMaxRetries(b, {{ .Retry.MaxRetries }})
{{- end }}
b = grpcfed.BackOffWithContext(b, ctx)
{{- end }}
